@import "../../styles/base";

.forgot-password-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  background: linear-gradient($color-dark-purple 30%, $color-almost-white 30%);
  .logo {
    width: 150px;
    height: 60px;
    margin-bottom: 70px;
    margin-top: 50px;
    filter: invert(1);
  }
  .forgot-password-form {
    padding: 1.5rem 1rem;
    height: 36%;
    width:75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: $color-white;
    border-radius: 5px;
    .form-title {
      font-size: 30px;
      font-weight: bold;
    }
    .forgot {
      margin: 0;
    }
    .reset-password {
      width: 100%;
      .first-form-subtitle {
        font-size: 16px;
        color: grey;
        margin-bottom: $size-small;
      }
    }
    .reset-new-account {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .return-log-in {
        color: blue;
        margin-top: 5px;
      }
    }
  }
}

.line {
  margin-top: 5px;
  margin-bottom: 5px;
}